body {
    display: flex;
    height: 80vh;
    align-content: center;
    justify-content: center;
}

#favourites {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 72px 0 72px 0;
    padding: 20px;
}