/* ============================= */
/* ZONA SUPERIOR FAVORITOS */
/* ============================= */

.zona-superior-favoritos {
    padding-top: 120px;
    margin-left: 280px;
    width: calc(100% - 240px);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Quitamos margen viejo del título */
#title {
    margin: 0 0 0 50px;
    font-size: 60px;
}

/* Acciones derecha */
.acciones-favoritos {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 100px;
}

/* Select ordenar */
.select-ordenar {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    transition: 0.2s;
}

.select-ordenar:hover {
    border-color: #999;
}

/* Botón vaciar mejorado */
.btn-vaciar {
    padding: 8px 14px;
    background: #111;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-vaciar:hover {
    background: #333;
}