body {
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#title {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
}

#content {
    margin-top: 20px;
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*gap: 15px;*/
    /*align-content: flex-start;*/
    /*align-items: flex-start;*/
    /*justify-content: space-evenly;*/
    /*overflow: hidden;*/
    /*margin: 72px 0 72px 0;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));*/
    /*grid-gap: 2rem;*/
    /*display: flex;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-items {
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));*/
    /*grid-gap: 2rem;*/
    display: flex;
    width: fit-content;
    justify-content: stretch;
    flex: 1 1 auto;
    flex-flow: row wrap;
    margin: auto;
    gap: 4rem;
    
}

.favourite-item {
    
    margin: 0 30px 0 30px;
    height: 350px;
    width:  350px;
    
    img {
        width: 350px; 
    }
    
    .like-button {
        position: relative;
        left: 300px;
        bottom: 355px;
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        
        img {
            width: 30px;
            height: 30px;
            padding: 5px;  
        }
        
        :hover {
            background-color: rgba(0, 0, 0, 0.29);
            border-radius: 25%;
        }
    }
}