
    .barra-gris-inferior{
        background-color: #e7e7e7;
        width: 100%;
        height: 72px;
        margin-left: 0;

        z-index:1000;
        position: fixed;
        bottom: 0;
        left: 0;
    }