    /* Para el home */
    /* Ya se inyectó el header y footer en el home*/

    .seccion-entrada{
        margin: 0 auto 0 200px;
        display: flex;
        gap: 1400px;
        width: fit-content;
        align-items: center;

        img{
            margin-top: 80px;
            width: 150px;
            height: 150px;
        }
    }

    .pregunta-izquierda {
        text-align: left;
        font-size:70px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #333;


    }

    .pregunta-centro{
        text-align: center;
        font-size:14px;
        color:#666;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .Buscador {
        display: flex;                                          /* Obliga al input y a la imagen a estar en la fila */
        width: 650px;
        height: 58px;

        /* Margen: Arriba, automatico a los lados, abajo*/
        margin: 60px auto 70px;                                 /* auto a los lados para centrarlo: el navegador calcula
                                                                   cuanto espacio sobra en la pantalla y lo divide en 2 */
        border: #d9d9d9 1px solid;
        border-radius: 18px;
        overflow: hidden;                                       /* Corta lo que sobresalga */

        input{
            flex: 1;                                            /* Coge por completo el espacio que sobre*/
            border: none;
            outline: none;
            font-size: 16px;
            padding-left: 20px;
        }

        button{
            width: 50px;
            height: 100%;
            background: #f9f9f9;
            border: none;
            border-left: #d9d9d9 1px solid;
            cursor: pointer;

            /* Para centrar la lupa dentro del botón */
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 24px;
                height: auto;
                opacity: 0.6;
            }
        }
    }

    .contenedor-moods{
        display: flex;
        justify-content: center;
        gap: 28px;                      /* Para separarlos */
        margin: 20px auto 80px;

        .boton-mood{
            width: 100px;
            height: 100px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            background: none;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }

    .contenedor-recomendaciones-restaurantes{
        background-color: #f5f5f5;
        width: 100%;
        height: auto;
        margin-bottom: 90px;
        border: none;
        border-top: 1px solid #ccc;
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.05);
        /* display: flex; ERROR. solo da órdenes a hijos directos (en este caso h2)*/

        h2{
            text-align: center;
            margin: 20px;
        }

        .grid-restaurantes{
            display: flex;
            justify-content: center;
            gap: 70px;
            padding: 10px 10px 80px;

            .tarjeta-restaurante{
                width: 300px;
                background: white;
                padding: 10px;
                border-radius: 12px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;      /* Para que las imagenes no se vean aplastadas */

                }

                h3{
                    text-align: center;
                    margin:10px 0 5px;
                }

                p{
                    text-align: center;
                    font-size: 14px;
                    color: gray;
                }
            }
        }

    }