/* Para el home */
/* Ya se inyectó el header y footer en el home*/

.Buscador {
    display: flex;                                          /* Obliga al input y a la imagen a estar en la fila */
    width: 518px;
    height: 58px;

    /* Margen: Arriba, automatico a los lados, abajo*/
    margin: 72px auto 70px;                                 /* auto a los lados para centrarlo: el navegador calcula
                                                               cuanto espacio sobra en la pantalla y lo divide en 2 */
    border: #d9d9d9 1px solid;
    border-radius: 8px;
    overflow: hidden;                                       /* Corta lo que sobresalga */

    input{
        flex: 1;                                            /* Coge por completo el espacio que sobre*/
        border: none;
        outline: none;
        font-size: 16px;
    }

    button{
        width: 69px;
        height: 100%;
        background: #f9f9f9;
        border: none;
        border-left: #d9d9d9 1px solid;
        cursor: pointer;

        /* Para centrar la lupa dentro del botón */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contenedor-moods{
    display: flex;
    justify-content: center;
    gap: 28px;                      /* Para separarlos */
    margin: 72px auto 108px;

    .boton-mood{
        width: 180px;
        height: 172px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
    }
}

.contenedor-recomendaciones-restaurantes{
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    margin-bottom: 90px;
    border: none;
    border-top: 1px solid #ccc;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.05);
    /* display: flex; ERROR. solo da órdenes a hijos directos (en este caso h2)*/

    h2{
        text-align: center;
        margin: 20px;
    }

    .grid-restaurantes{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px 10px 80px;

        .tarjeta-restaurante{
            width: 300px;
            background: white;
            padding: 10px;
            border-radius: 12px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;      /* Para que las imagenes no se vean aplastadas */

            }

            h3{
                text-align: center;
                margin:10px 0 5px;
            }

            p{
                text-align: center;
                font-size: 14px;
                color: gray;
            }
        }
    }

}