/* GLOBAL: PARA TODAS LAS PAGINAS (EXCEPTO EL LOGIN)*/

.barra-gris-superior{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    background-color: #e7e7e7;
    height: 72px;
    display: flex;                      /* Todos los elementos se ponen en fila*/
    align-items: center;                /* Alinea los items por la altura de la barra (verticalmente)*/
    justify-content: space-between;     /* Centrar todos los elementos (izq, centro, dcha) */

    .zona-izquierda button {
        width: 47.37px;
        height: 47.37px;
        background: none;
        margin-left: 10px;
        border: none;
        cursor: pointer;
    }

    .zona-izquierda button img{
        width: 100%;
        height: auto;
    }

    .zona-pegada-izquierda{
        margin-left: 20px;
        margin-right: auto;
    }
}

.sidebar-lateral{
    position: fixed;    /*se queda pegada a la pantalla*/
    width: 240px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    padding:20px;
    z-index: 100;
}

/* Para centrar el contenido al poner la sidebar */
main {
    margin-left: 240px;     /* El mismo ancho que la sidebar */
    padding: 40px;
}

.menu-navegacion{
    list-style: none;
    margin-top: 70px;

    li a img{
        width: 25px;
        height: 25px;

    }

    li a{
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 12px 15px;
        color: #444;
        text-decoration: none;
        font-size: 25px;
    }
}


.barra-gris-inferior{
    background-color: #e7e7e7;
    width: 100%;
    height: 72px;
    margin-left: 0;

    z-index:1000;
    position: fixed;
    bottom: 0;
    left: 0;
}