
#mood-title {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 70px;
    box-sizing: border-box;

    /* Empujar para que esquive la barra lateral*/
    margin-left: 240px;
    /* ancho exacto */
    width: calc(100% - 240px);

    position: relative;
    top: 40px;
}
    .textos_romantico{
        display: flex;
        flex-direction: column;
        gap: 5px;

        font-family: 'Montserrat', 'Segoe UI', Roboto, Helvetica,Arial,sans-serif;
    }

    /* El primer texto ("romantico") */
    .textos_romantico h3:first-of-type{
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin:0;
    }

    .textos_romantico h2{
        font-size: 48px;
        font-weight: 900;
        letter-spacing: -1px;
        margin:0;
    }

    .textos_romantico h3:last-of-type{
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }


#mood-title img{
    width: 120px;
    height: auto;
    border-radius: 20px;
}



