
.seccion-mood{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: relative;             /* para que sea lo más relevante en esta zona */
    margin-top: 100px;

    .linea-horizontal{
        position: absolute;
        width: 80%;
        height: 5px;
        border-radius: 8px;
        background-color: #d9d9d9;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .emoji-central {
        position: relative;
        z-index: 2;                 /* Capa de arriba (para que tape a la linea)*/
        width: 80px;
        background-color: white;
        border: 2px solid #d9d9d9;
        border-radius: 100%;
        padding: 10px;
    }

    }

    .recomendaciones-segun-mood {
        background-color: #f5f5f5;
        box-sizing: border-box; /* Obliga al padding a quedarse por dentro del 100% */
        width: 100%;
        height: auto;

        border: none;
        border-top: 1px solid #ccc;
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.05);

        display: grid;
        grid-template-columns: repeat(4, max-content);
        gap: 90px;
        padding: 40px;
        justify-content: center;
        margin-top: 60px;
    }

    .tarjeta2-restaurante {
        position: relative;
        width: 320px;
        background: white;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: transform 0.3s;      /* Para que al pasar el raton se muevan*/

            .foto-restaurante{
                width: 100%;
                height: 150px;
                object-fit: cover;      /* Para que las imagenes no se vean aplastadas */
                border-radius: 8px;
            }

            .btn-favorito{
                position: absolute;
                top: 20px;
                right: 20px;
                background:white;
                border: none;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                cursor: pointer;

                img{
                    width: 20px;        /* Tamaño del corazón */
                }
            }

        }

        /* Efecto para que la web parezca viva */
        .tarjeta2-restaurante:hover {
            transform: translateY(-5px);
        }




