<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Template Base - MoodMeal</title>
</head>

<body>

    <header class="barra-gris-superior">
        <div class="zona-izquierda">
            <button>
                <img src="../assets/imagenes/icono1.svg" alt="Desplegable menú">
            </button>
        </div>

        <div class="zona-pegada-izquierda">
            <h1>Título de la App</h1>
        </div>

        <div class="zona-derecha">
            <button>
                <img src="../assets/imagenes/icono2_Profile.svg" alt="Profile">
            </button>
        </div>
    </header>

    <main>
        <p>Aquí irá el contenido especifico</p>
        <p>Nota: los componentes de la barra inferior y la barra superior ya están agrupados</p>
        <p>Nota2: solo ponerlos en formato adecuado y bonito con css</p>
        <p>Nota3: los class solo sirven para crear uno llamado asi con css y llamarlo</p>
        <br>
        <br>
        <br>
        <br>
    </main>

    <footer class="barra-gris-inferior">
        <p>No contiene nada, solo la barra gris</p>
    </footer>
</body>

</html>