 <header class="barra-gris-superior">
        <div class="zona-izquierda">
            <button>
                <img src="../assets/images/icono1.svg" alt="Desplegable menú">
            </button>
        </div>

        <div class="zona-pegada-izquierda">
            <h1>MoodMeal</h1>
        </div>
 </header>

 <nav class="sidebar-lateral">
     <ul class="menu-navegacion">
         <li>
             <a href="home.html">
                 <img src="../assets/images/home_icon.svg" alt="Home">
                 <span>Inicio</span>
             </a>
         </li>
         <li>
             <a href="favoritos.html">
                 <img src="../assets/images/favorito2.svg" alt="Favoritos">
                 <span>Favoritos</span>
             </a>
         </li>
         <li>
             <a href="ajustes.html">
                 <img src="../assets/images/settings.png" alt="Ajustes">
                 <span>Ajustes</span>
             </a>
         </li>
     </ul>
 </nav>

 <footer class="barra-gris-inferior"></footer>