
<section class="recomendaciones-segun-mood">
    <article class="tarjeta2-restaurante">
        <img src="../assets/images/restaurants_pictures/kfc.png" class="foto-restaurante" alt="Restaurante 1">
        <button class="btn-favorito">
            <img src="../assets/images/favorito2.svg" alt="like">
        </button>
        <h3>KFC - Pollo Frito</h3>
    </article>

    <article class="tarjeta2-restaurante">
        <img src="../assets/images/restaurants_pictures/fitfuel.png" class="foto-restaurante" alt="Restaurante 1">
        <button class="btn-favorito">
            <img src="../assets/images/favorito2.svg" alt="like">
        </button>
        <h3>FitFuel</h3>
    </article>

    <article class="tarjeta2-restaurante">
        <img src="../assets/images/restaurants_pictures/pizza_hut.png" class="foto-restaurante" alt="Restaurante 1">
        <button class="btn-favorito">
            <img src="../assets/images/favorito2.svg" alt="like">
        </button>
        <h3>Pizza Hut</h3>
    </article>

    <article class="tarjeta2-restaurante">
        <img src="../assets/images/restaurants_pictures/goiko.png" class="foto-restaurante" alt="Restaurante 1">
        <button class="btn-favorito">
            <img src="../assets/images/favorito2.svg" alt="like">
        </button>
        <h3>Goiko</h3>
    </article>

    <article class="tarjeta2-restaurante">
        <img src="../assets/images/restaurants_pictures/mcdonalds.png" class="foto-restaurante" alt="Restaurante 1">
        <button class="btn-favorito">
            <img src="../assets/images/favorito2.svg" alt="like">
        </button>
        <h3>McDonald's</h3>
    </article>

    <article class="tarjeta2-restaurante">
        <img src="../assets/images/restaurants_pictures/starbucks.png" class="foto-restaurante" alt="Restaurante 1">
        <button class="btn-favorito">
            <img src="../assets/images/favorito2.svg" alt="like">
        </button>
        <h3>Starbucks</h3>
    </article>

</section>