<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant page</title>
</head>
<body>
    <div class="contenedor" style="display:flex">
        <div class="portada">
            <h1>Nombre del restaurante</h1>
            <img src="../assets/imagenes/restaurant-placeholder.jpg" alt="placeholder">
        </div>
        <div class="detalles">
            <div class="menu" style="display: flex">
                <div class="menu-element">
                    <img src="../assets/imagenes/menu-item-placeholder.png" alt="placeholder" style="width:250px">
                    <p>nombre</p>
                </div>
                <div class="menu-element">
                    <img src="../assets/imagenes/menu-item-placeholder.png" alt="placeholder" style="width:250px">
                    <p>nombre</p>
                </div>
                <div class="menu-element">
                    <img src="../assets/imagenes/menu-item-placeholder.png" alt="placeholder" style="width:250px">
                    <p>nombre</p>
                </div>
            </div>
            <div class="horario"></div>
        </div>
    </div>

</body>
</html>