
<nav class="sidebar-lateral">
  <ul class="menu-navegacion">
    <li>
      <a href="../pages/home.html">
        <img src="../assets/images/home_icon.svg" alt="Home">
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a href="../pages/favourites.html">
        <img src="../assets/images/favorito2.svg" alt="Favoritos">
        <span>Favoritos</span>
      </a>
    </li>
    <li>
      <a href="../pages/settings.html">
        <img src="../assets/images/settings.png" alt="Ajustes">
        <span>Ajustes</span>
      </a>
    </li>
  </ul>
</nav>