
<nav class="sidebar-lateral" [class.active]="isOpen">
  <ul class="menu-navegacion">
    <li>
      <a routerLink="/" (click)="this.isOpen=false">
        <img src="/assets/images/home_icon.svg" alt="Home">
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a routerLink="/favourites" (click)="this.isOpen=false">
        <img src="/assets/images/favorito2.svg" alt="Favoritos">
        <span>Favoritos</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings" (click)="this.isOpen=false">
        <img src="/assets/images/settings.png" alt="Ajustes">
        <span>Ajustes</span>
      </a>
    </li>
  </ul>
</nav>
